html{
    background-color: #F1F1F1;
    color: #182153
}

header{
    background-image: url(desafios\ TI.jpeg);
    background-repeat:no-repeat;
    background-size: cover;
}

.top{
    background-color: #F1F1F1;

}

